<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scope</key>
	<array>
		<string>/Applications</string>
		<string>/Applications/Xcode.app/Contents/Applications</string>
		<string>/Developer/Applications</string>
		<string>/Library/PreferencePanes</string>
		<string>/opt/homebrew-cask/Caskroom</string>
		<string>/System/Applications/</string>
		<string>/System/Library/CoreServices/Applications</string>
		<string>/System/Library/PreferencePanes</string>
		<string>/usr/local/Cellar</string>
		<string>~/Git/viasatwiki</string>
		<string>~/Git/viasatwiki/Zettelkasten</string>
		<string>~/Library/Caches/Metadata</string>
		<string>~/Library/Mobile Documents</string>
		<string>~/Library/Mobile Documents/27N4MQEA55~pro~writer/Documents</string>
		<string>~/Library/Mobile Documents/9CR7T2DMDG~com~ngocluu~onewriter/Documents/Zettelkasten</string>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs</string>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Notes</string>
		<string>~/Library/PreferencePanes</string>
		<string>~/Pictures/Screenshots</string>
	</array>
</dict>
</plist>
